/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    /* * CONFIGURAÇÃO DOS HOME ROW MODS (IGUAL AO VIAL)
     * Isso faz com que segurar A/S/D/F funcione como GUI/Alt/Ctrl/Shift
     */

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* LAYER 0: BASE (QWERTY 3x5 + THUMBS) */

        default_layer {
            bindings = <
&none  &hm ESCAPE Q  &kp W       &kp E        &kp R           &kp T          &kp Y         &kp U         &kp I          &kp O       &kp P          &none
&none  &hm LGUI A    &hm LALT S  &hm LCTRL D  &kp F           &kp G          &kp H         &hm RSHIFT J  &hm RCTRL K    &hm RALT L  &hm RGUI SEMI  &none
&none  &kp Z         &kp X       &kp C        &kp V           &kp B          &kp B         &kp N         &kp M          &kp COMMA   &kp DOT        &none
                                 &lt 2 TAB    &kp LEFT_SHIFT  &lt 1 SPACE    &lt 4 DELETE  &lt 3 ENTER   &kp BACKSPACE
            >;
        };

        /* LAYER 1: NUMEROS E NAVEGAÇÃO */

        lower_layer {
            bindings = <
&none  &kp N1     &kp N2    &kp N3    &kp N4      &kp N5    &kp N6    &kp N7     &kp N8     &kp N9     &kp N0   &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHIFT  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans   &none
&none  &trans     &trans    &trans    &trans      &trans    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp TAB  &none
                            &trans    &trans      &trans    &trans    &trans     &trans
            >;
        };

        /* LAYER 2: SIMBOLOS */

        raise_layer {
            bindings = <
&none  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)   &kp LS(N5)    &kp LS(N6)     &kp LS(N7)     &kp LS(N8)    &kp LS(N9)    &kp LS(N0)  &none
&none  &trans      &trans      &trans      &kp LS(SQT)  &trans        &kp LS(MINUS)  &kp EQUAL      &kp LS(LBKT)  &kp LS(RBKT)  &kp SQT     &none
&none  &trans      &trans      &trans      &trans       &trans        &kp MINUS      &kp LS(EQUAL)  &kp LBKT      &kp RBKT      &kp BSLH    &none
                               &trans      &trans       &trans        &trans         &kp LS(GRAVE)  &kp GRAVE
            >;
        };

        /* LAYER 3: F-KEYS, MIDIA E BLUETOOTH */

        adjust_layer {
            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5    &kp F6      &kp F7        &kp F8        &kp F9        &kp F10   &none
&none  &kp F11  &kp F12  &trans  &trans  &trans    &kp PSCRN   &trans        &trans        &kp CAPSLOCK  &trans    &none
&none  &trans   &trans   &trans  &trans  &trans    &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT    &kp C_PP  &none
                         &trans  &trans  &trans    &trans      &bootloader   &trans
            >;
        };

        layer_4 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                            &trans        &trans        &trans    &trans  &trans  &trans
            >;
        };
    };
};
